@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✅ Keyframes for rotating circle */
@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-rotate-circle {
  animation: rotateCircle 6s linear infinite;
}
